<app-nav></app-nav>

<section class="tos">

    <dl class="tos_dl">
        <h3>
             {{activeTranslation.tos.refundsNreplacements.h}}<br>
            <small>{{activeTranslation.tos.lastUpdated}} 17.07.2020</small>
        </h3>
        <dt>
          {{activeTranslation.tos.refundsNreplacements.refundPolicy.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.refundsNreplacements.refundPolicy.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.refundsNreplacements.cancellation.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.refundsNreplacements.cancellation.des}}
        </dd>

        <h3 class="privacy-policy">
          {{activeTranslation.tos.privacyPolicy.h}} <br>
            <small>
              {{activeTranslation.tos.lastUpdated}} 17.07.2020
            </small>
        </h3>

        <dt>
          {{activeTranslation.tos.privacyPolicy.cookies.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.privacyPolicy.cookies.des}}
        </dd>


        <dt>
          {{activeTranslation.tos.privacyPolicy.personalInformation.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.privacyPolicy.personalInformation.des}}
        </dd>

        <h3>
          {{activeTranslation.tos.termsNconditions.h}} <br>
            <small>
              {{activeTranslation.tos.lastUpdated}} 17.07.2020
            </small>
        </h3>

        <dt>
          {{activeTranslation.tos.termsNconditions.general.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.general.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.general.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.general.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.management.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.management.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.complaints.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.complaints.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.disclaimer.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.disclaimer.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.termNtermination.h}}
        </dt>

        <dd>
          {{activeTranslation.tos.termsNconditions.termNtermination.des}}
        </dd>

        <dt>
          {{activeTranslation.tos.termsNconditions.contact}}
        </dt>

        <dd class="tos_contact-dd">
            E-mail: office@accounts4life.com <br>
            Discord: <a href="https://discord.gg/3WdvuhQ">{{activeTranslation.tos.termsNconditions.joinServer}}</a> <br>
            L&P International Spółka z.o.o Poland, Katowice, 3 Maja 22/2c 40-096, Poland
        </dd>

    </dl>

</section>

<app-footer></app-footer>
